/**
 * @file
 * Stylesheet for Radix Colorizer module.
 */
.form-item-scheme {
  font-size: 1.2em;
}
#palette {
  clear: both;
}
#palette .form-item {
  overflow: hidden;
  height: auto;
}
#palette .form-item label,
#palette .form-item input {
  float: left;
  margin: 0 10px 0 0;
}
#placeholder {
  top: 100px;
}