.field-name-field-screenshot img {
    max-width:100%;
    height: auto;
}

.main {
    padding-left: 2em;
    padding-right: 2em;
}

#sidebar-left {
    padding: 2em;
}

#logo {
    max-width: 80px;
    max-height: 80px;
}
