a img {
  background-repeat: no-repeat;
}

.views-field h3 {
  text-align: center;
}

.views-field .field-content {
  text-align: center;
}

h4 a {
  font-size: 30px;
  line-height: 33px;
}

.field .field-label {
  font-size: 20px;
}

